openapi: 3.0.1
info:
  title: RUTPAM API
  version: 0.2-dev_10
  description: >
    This API defines the methods and objects that provide and receive data from/to the server.
    The design extends the GTFS specification to a more abstract and complete knowledge base about the stored public transit networks.
  contact:
    name: Néstor Lora
    email: nestorlora@geeklab.es
  license:
    name: MIT
servers:
  - url: 'http://rutpam.titan.geeklab.es:5000'
    description: Development local HTTP Server
# Method legend:
# GET - Get data (not modified)
# POST - Create resource if not exists
# PUT - Create resource
# DELETE - Delete/Disable/Expire resource
# PATCH - Edit resource
paths:
  /info:
    summary: Server information
    get:
      tags:
        - Server
      summary: Getting the server status
      description: Returns server information
      security: []
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: Server version
                    example: 1.0.0
                  contact:
                    type: string
                    description: Email contact
                    example: webmaster@localhost
                  web:
                    type: string
                    description: Project website
                    example: 'http://localhost/RUTPAM'
                  maintenance:
                    type: boolean
                    description: Show if the server may contain inaccurate information due to maintenance works
                    example: false
#  /auth - TODO
  /networks:
    get:
      tags:
        - Networks
      summary: Get all networks
      description: Returns all the networks in the database
      parameters: []
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      networks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Network'
    put:
      tags:
        - Networks
      summary: Add new network
      description: Save new network in database
      parameters: []
      requestBody:
        description: Network object that needs to be added to database
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      networks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Network'
        400:
          $ref: '#/components/responses/400BadRequest'
    patch:
      tags:
        - Networks
      summary: Update stored network
      description: Replace stored network in databes with new version.
      parameters: []
      requestBody:
        description: >
          Network object to be updated in database<br>
          You must provide a valid Network.id to complete the operation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network'
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      networks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Network'
        400:
          $ref: '#/components/responses/400BadRequest'
  /networks/{id}:
    get:
      tags:
        - Networks
      summary: Get a single network
      description: Return a single network
      parameters:
        - in: path
          name: id
          description: Network ID
          required: true
          schema:
            $ref: '#/components/schemas/objectId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      networks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Network'
        400:
          $ref: '#/components/responses/400BadRequest'
    delete:
      tags:
        - Networks
      summary: Deletes a single network
      description: >
        Removes a network from de database <br>
        DANGER! This method does not removes all the network's associated elements
      parameters:
        - in: path
          name: id
          description: Network ID
          required: true
          schema:
            $ref: '#/components/schemas/objectId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/ApiResponse'
        400:
          $ref: '#/components/responses/400BadRequest'
  /networks/find:
    get:
      tags:
        - Networks
      summary: Search networks
      description: Returns all the networks matching the parameters
      parameters:
        - in: query
          name: network
          description: Optional parameters for search
          required: true
          schema:
            $ref: '#/components/schemas/Network'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      networks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Network'
        400:
          $ref: '#/components/responses/400BadRequest'
  /stations:
    get:
      tags:
        - Stations
      summary: Get all stations
      description: Returns all the stations in the database
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      stations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Station'
  /stations/{id}:
    get:
      tags:
        - Stations
      summary: Find station by ID
      description: Return a single station
      parameters:
        - in: path
          name: id
          description: Station ID
          required: true
          schema:
            $ref: '#/components/schemas/objectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      stations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Station'
  /stations/findByName:
    get:
      tags:
        - Stations
      summary: Find station by name
      description: Returns a list of stations that contains the provided name
      parameters:
        - in: query
          name: name
          description: Station name
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      stations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Station'
  /routes:
    get:
      tags:
        - Routes
      summary: Get all routes
      description: Returns all the routes in the database
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      routes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Route'
  /routes/{id}:
    get:
      tags:
        - Routes
      summary: Find route by ID
      description: Return a single route
      parameters:
        - in: path
          name: id
          description: Station ID
          required: true
          schema:
            $ref: '#/components/schemas/objectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      routes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Route'
  /routes/type:
    get:
      tags:
        - Routes
      summary: Get all route types
      description: Returns all the route types in the database
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      routeTypes:
                        type: array
                        items:
                          $ref: '#/components/schemas/RouteType'
  /subroutes:
    get:
      tags:
        - Subroutes
      summary: Get all subroutes
      description: Returns all the active subroutes in the database
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      routes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Subroute'
  /subroutes/findByRoute:
    get:
      tags:
        - Subroutes
      summary: Find subroutes by route ID
      description: Return multiple subroutes under a parent route
      parameters:
        - in: path
          name: routeId
          description: Parent route ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      routes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Subroute'
  /agencies:
    get:
      tags:
        - Agencies
      summary: Get all agencies
      description: Returns all the agencies in the database
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      agencies:
                        type: array
                        items:
                          $ref: '#/components/schemas/Agency'
  /agencies/{id}:
    get:
      tags:
        - Agencies
      summary: Find agency by ID
      description: Return a single agency
      parameters:
        - in: path
          name: id
          description: Agency ID
          required: true
          schema:
            $ref: '#/components/schemas/objectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      agencies:
                        type: array
                        items:
                          $ref: '#/components/schemas/Agency'
  /stops:
    get:
      tags:
        - Stops
      summary: Get all stops
      description: Returns al the stops in the database
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      stops:
                        type: array
                        items:
                          $ref: '#/components/schemas/Stop'
  /stops/{id}:
    get:
      tags:
        - Stops
      summary: Find stop by ID
      description: Return a single stop
      parameters:
        - in: path
          name: id
          description: Stop ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      stations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Station'
  /pickup_dropoff_types:
    summary: Defined pick-up and drop-off operations in stops
    get:
      tags:
        - Stops
      summary: Get all pickup or dropoff types
      description: Returns all the pickup/dropoff types in the database
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PickupDropoffType'
    put:
      tags:
        - Stops
      summary: Create type
      description: Create a new pickup/dropoff type in the database
      security:
        - Agent: []
        - Admin: []
      parameters:
        - in: header
          name: type
          description: Type
          required: true
          schema:
            $ref: '#/components/schemas/PickupDropoffType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PickupDropoffType'
        '401':
          $ref: '#/components/responses/401Unauthorized'
    patch:
      tags:
        - Stops
      summary: Edit type
      description: Edit actual pickup/dropoff type in the database
      security:
        - Agent: []
        - Admin: []
      parameters:
        - in: header
          name: type
          description: Type
          required: true
          schema:
            $ref: '#/components/schemas/PickupDropoffType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PickupDropoffType'
        '401':
          $ref: '#/components/responses/401Unauthorized'
  /transfers:
    get:
      tags:
        - Transfers
      summary: Get all transfers
      description: Returns all the defined transfers in the database
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      transfers:
                        type: array
                        items:
                          $ref: '#/components/schemas/Transfer'
components:
  schemas:
    Station:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Station ID
        eid:
          type: string
          description: External ID (defined by the provider)
          example: 41
        name:
          type: string
          description: Station name
          example: Málaga-María Zambrano
        address:
          type: string
          description: Station address (if it has one)
          example: Paseo del Parque 21
        location:
          $ref: '#/components/schemas/LatLong'
    AgencyInfo:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Relation ID
        agency:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Agency ID
        type:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Info type ID
        information:
          type: string
          description: Actual piece of information
          example: reservas@malaga.avanzabus.es
        description:
          type: string
          description: Complement to the previous information
          example: Reservas
    Subroute:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Subroute ID
        route:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Parent route ID
        eid:
          type: string
          description: External ID (defined by the provider)
          example: '41.5'
        type:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Subroute type ID (Going route/Return route/Circular route/Positioning move)
        headsign:
          type: string
          description: Headsign indication text
          example: El Palo
        description:
          type: string
          description: Subroute description
          example: Ida. Itinerario 1
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
    Route:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Route ID
        network:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Network ID
        eid:
          type: string
          description: External ID (defined by the provider)
          example: 41
        shortName:
          type: string
          description: >
            Short name of a route. This will often be a short, abstract identifier like "32", "100X", or "Green" that riders use to identify a route, but which doesn't give any indication of what places the route serves.
          example: N1
        longName:
          type: string
          description: >
            Full name of a route. This name is generally more descriptive than the shortName and often includes the route's destination or stop.
          example: Puerta Blanca - Alameda Principal - El Palo
        description:
          type: string
          description: >
            Description of a route that provides useful, quality information.
            Do not simply duplicate the name of the route.
          example: >
            "A" trains operate between Inwood-207 St, Manhattan and Far Rockaway-Mott Avenue, Queens at all times. Also from about 6AM until about midnight, additional "A" trains operate between Inwood-207 St and Lefferts Boulevard (trains typically alternate between Lefferts Blvd and Far Rockaway).
        observations:
          type: string
          description: Aditional comments, informal data.
          example: Traslado de paradas por obras en Alameda Ppal
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        color:
          type: string
          description: Route color designation that matches public facing material
          example: 00FF00
        textColor:
          type: string
          description: Legible color to use for text drawn against a background of the previous color
          example: FFFFFF
        url:
          type: string
          description: URL of a web page about the particular route.
          example: 'https://emtmalaga.es/linea/65'
        type:
          type: integer
          format: int32
          description: >
            Indicates the type of transportation used on a route [Google
            Dev](https://developers.google.com/transit/gtfs/reference/extended-route-types?hl=es)
          example: 7200
    Town:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Town ID
        name:
          type: string
          description: Town name
          example: Álora
    TownArea:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Town area ID
        name:
          type: string
          description: Area name
          example: Airport
        town:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Parent Town ID
    Agency:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Agency ID
        name:
          type: string
          description: Agency name
          example: 'Avanza Movilidad Urbana, S.L.U'
    RouteAgencies:
      type: object
      properties:
        id:
         allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Relation ID
        route:
          allOf:
          - $ref: '#/components/schemas/objectId'
          description: Route ID
        agency:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Agency ID
        role:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Agency role ID
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
    Stop:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Stop ID
        eid:
          type: string
          description: External ID (defined by the provider)
          example: 41
        name:
          type: string
          description: Stop name. Usually describes the location around the stop.
          example: Alameda Principal - Sur
        townArea:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Town area ID
        station:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Parent station ID (if exists)
        platform:
          type: string
          description: >
            Platform identifier for a platform stop (a stop belonging to a station). 
            This should be just the platform identifier (eg. "G" or "3"). Words like “platform” 
            or "track" should not be included.
          example: 4B
        network:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Network ID
        zone:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Zone ID
        address:
          type: string
          description: Station address (if it has one)
          example: Paseo del Parque 21
        location:
          $ref: '#/components/schemas/LatLong'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
    SubrouteStop:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Relation ID
        subroute:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Subroute ID
        stop:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Stop ID
        pickupType:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Pickup or Drop off type ID
        dropoffType:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Pickup or Drop off type ID
        sequence:
          type: integer
          format: int32
          description: Sequence order of the stop in the subroute
          example: 14
    Point:
      type: object
      properties:
        id:
         allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Point ID
        location:
          $ref: '#/components/schemas/LatLong'
    PathPoint:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Relation ID
        path:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Path ID
        point:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Point ID
        sequence:
          type: integer
          format: int32
          description: Sequence order of the point in the path
          example: 14
    POS:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Point of sale ID
        agency:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Agency ID
        townArea:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Town area ID
        type:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Pos type ID
        address:
          type: string
          description: Station address (if it has one)
          example: Paseo del Parque 21
        location:
          $ref: '#/components/schemas/LatLong'
    Network:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Network ID
        shortName:
          type: string
          description: Contracted name or acronym used for the network
          example: "CTMAM"
        longName:
          type: string
          description: Extended or full-version name of the networkd
          example: "Consorcio de Transportes Metropolitanos del Área de Málaga"
    AgencyRole:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Agency role ID
        role:
          type: string
          description: Name
          example: Planning
        description:
          type: string
          description: Description
          example: 'Timetables, detours, reinforcements, etc...'
    InfoType:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Info type ID
        type:
          type: string
          description: Type name
          example: URL
    SubrouteType:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Subroute type ID
        type:
          type: string
          description: Type name
          example: Positioning move
        description:
          type: string
          description: Type description
          example: Empty ride at the start or end of service for a vehicle. Typically from or to the depot.
    PosType:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Point of sale type ID
        type:
          type: string
          description: Type name
          example: Kiosk
    PickupDropoffType:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Pickup or Drop off type ID
        type:
          type: string
          description: Pickup or Drop off method
          example: Sheduled
        description:
          type: string
          description: Method explanation or example
          example: The vehicle performs a regularly sheduled stop
    TransferType:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Transfer type ID
        type:
          type: string
          description: Type name
          example: Sheduled
        description:
          type: string
          description: Type description
          example: The vehicles wait for the tranfer passengers to depart
    RouteType:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Route type ID
        description:
          type: string
          description: Type name
          example: High Speed Rail Service
        example:
          type: string
          description: Type explanation or example
          example: 'TGV (FR), ICE (DE), Eurostar (GB)'
      description: >-
        Legend in [Google
        Dev](https://developers.google.com/transit/gtfs/reference/extended-route-types?hl=es)
    Transfer:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Transfer ID
        stop1:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Stop ID where tranfer begins
        stop2:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Stop ID where tranfer ends
        type:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Tranfer type ID
        minimunTime:
          type: integer
          format: int32
          description: Amount of time, in seconds, that must be available to permit a transfer between routes at the specified stops (if, needed)
    Path:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Path ID
        color:
          type: string
          description: Path color (RGB)
          example: '009639'
        transparency:
          type: number
          format: float
          description: Transparency of the path [0,1]
          example: 1
    Zone:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Zone ID
        network:
          allOf:
          - $ref: '#/components/schemas/objectId'
          - description: Network ID
        name:
          type: string
          description: Zone name
          example: A
    LatLong:
      type: object
      properties:
        lat:
          type: number
          format: float
          description: Latitude
          example: 36.6916079
        lon:
          type: number
          format: float
          description: Longitude
          example: -4.4561347
      required:
        - lat
        - lon
    objectId:
      type: string
      minLength: 24
      maxLength: 24
      example: '5ded41d17f28ec03b9787b21'
    startDate:
      type: string
      format: date-time
      description: >
        Moment when this object start his validity (within those parameters)
        The database may contain other versions (within other ID)
      example: '2019-08-19'
    endDate:
      type: string
      format: date-time
      description: >
        Moment when this object ends his validity (within those parameters)
        The database may contain other versions (within other ID)
      example: '2019-08-19'
    ApiResponse:
      type: object
      properties:
        code:
          type: number
          format: int32
          example: 200
        status:
          type: string
          example: "OK"
  securitySchemes:
    User:
      type: apiKey
      in: header
      name: userKey
    Agent:
      type: apiKey
      in: header
      name: agentKey
    Admin:
      type: apiKey
      in: header
      name: opKey
  responses:
    400BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
    401Unauthorized:
      description: Unauthorized (insufficient permissions or token key is expired)
      headers:
        WWW-Authenticate:
          schema:
            type: string
          description: Authentication scheme(s) and parameters applicable to the target resource
          #example: Newauth realm="apps", type=1, title="Login to \"apps\"", Basic realm="simple"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
    403Forbidden:
      description: Forbidden access (token key is not provided)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
    404NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
    429TooManyRequests:
      description: The user has sent too many requests in a given amount of time
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before making a new request
          example: 60
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
security:
  - User: []
  - Agent: []
  - Admin: []
tags:
  - name: Server
    description: Server status and authentication
  - name: Networks
    description: Transit networks
  - name: Routes
  - name: Subroutes
  - name: Stops
  - name: Stations
  - name: Transfers
  - name: Paths
  - name: Points
  - name: Agencies
  - name: Zones
  - name: Towns
